@media( max-width:992px){
    .page-header{
        padding-block: 45px;
    }
    .banner-title{
        margin: 30px auto;
    }

    .review-title {
        font-size: 40px;
    }

    .project-col-title {
        font-size: 40px !important;
    }
    .project-text {
        font-size: 1.5rem;
    }

    .contact-text {
        font-size: 1.25rem;
    }

    .col-2 {
        padding: 0 20px;
    }
}
@media (max-width:768px){
    .page-header{
        padding-block:30px;
    }

    .navbar-brand{
    font-size: 1.5rem;
    padding-block: 0;
    }
    .nav-link{
        font-size: 1rem;
    }
    .banner-title{
        font-size: 40px;
    }

    .btn-warning{
        padding: 10px 30px;
        font-size: 1rem;
    }

    .intro-img_top-info,
    .intro-img_bottom-info {
        padding: 30px 20px;
        column-gap: 15px;
    }

    .intro-img_top-info span,
    .intro-img_bottom-info span {
        font-size: 30px;
    }

    .intro-img_top-info p,
    .intro-img_bottom-info p {
        font-size: 1rem;
        width: 180px;
    }

    .review-title {
        font-size: 30px;
    }

    .job-title {
        font-size: 18px;
    }

    .desc {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .project-col-title {
        font-size: 30px !important;
    }

    .project-text {
        font-size: 1rem;
    }

    .m-block-100 {
        margin-block: 25px;
    }

    .project-subtitle {
        margin-block-end: 50px;
    }

    .contact-text {
        font-size: 1rem;
    }

}

@media(max-width:576px){
    .page-header{
        padding-block: 12px;
    }
    .navbar-brand{
        font-size: 1rem;
    }

    .banner-title{
        font-size: 30px;
    }
    .banner-text{
        margin: 20px auto;
        font-size: 1rem;
    }
    .btn-warning{
        padding:10px 20px;
        font-size: 0.8rem;
    }

    .intro-img_top-info,
    .intro-img_bottom-info {
        padding: 20px;
        column-gap: 10px;
    }

    .intro-img_top-info span,
    .intro-img_bottom-info span {
        font-size: 1.5rem;
    }

    .intro-img_top-info p,
    .intro-img_bottom-info p {
        font-size: 0.8rem;
        width: 150px;
    }

    .desc {
        font-size: 1rem;
    }

    .project-subtitle {
        margin-block-end: 30px;
    }

    .col-2 {
        padding: 0 15px;
    }
}

@media (max-width: 375px) {
    .project-subtitle::after,
    .project-subtitle::before {
        width: 0;
    }
}